<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="col-auto fondo" style="width: 70%;">
            <div class="row">        
                <div class="col-4">
                    <button class="btn btn-primary" style="width: 100%;margin-top: 0.5em; margin-bottom: 0.5em;">Todos los pedidos</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" style="width: 100%;margin-top: 0.5em; margin-bottom: 0.5em;">Pedidos en curso</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" style="width: 100%;margin-top: 0.5em; margin-bottom: 0.5em;">Pedidos enviados</button>
                </div>
            </div>
            <div *ngFor="let ped of pedidosLocal" >
                <div class="row" style="background-color: white; margin-top: 0.5em; margin-bottom: 0.5em;">
                    <div class="col-3"><p>Id:{{ped.id}}</p></div>
                    <div class="col-3"><p>User_id:{{ped.user_id}}</p></div>
                    <div class="col-3"><p>Datetime:{{ped.datetime}}</p></div>
                    <div class="col-3"><p>Status:{{ped.status}}</p></div>     
                </div>
            </div>
            <div *ngFor="let ped of pedidosLocalCurso" >
                <div class="row" style="background-color: white; margin-top: 0.5em; margin-bottom: 0.5em;display: none;">
                    <div class="col-3"><p>Id:{{ped.id}}</p></div>
                    <div class="col-3"><p>User_id:{{ped.user_id}}</p></div>
                    <div class="col-3"><p>Datetime:{{ped.datetime}}</p></div>
                    <div class="col-3"><p>Status:{{ped.status}}</p></div>   
                </div>
            </div>
            <div *ngFor="let ped of pedidosLocalEnviados" >
                <div class="row" style="background-color: white; margin-top: 0.5em; margin-bottom: 0.5em;display: none;">
                    <div class="col-3"><p>Id:{{ped.id}}</p></div>
                    <div class="col-3"><p>User_id:{{ped.user_id}}</p></div>
                    <div class="col-3"><p>Datetime:{{ped.datetime}}</p></div>
                    <div class="col-3"><p>Status:{{ped.status}}</p></div>   
                </div>
            </div>
        </div>
    </div>
</div>

