<app-navbar></app-navbar>


<!--Progress Bar-->
<barra-carga *ngIf="loading"></barra-carga>

<div class="container-fluid" *ngIf="!loading">
  <div class="row espacioTop">

    <div class="col-lg-4"></div>

    <div class="col-lg-3 text-center">
      <img class="img card-img-top img-fluid imagenProducto" src="{{producto.image}}"
        onerror="this.src='../../assets/img/logo.jpeg';" alt="LogoProducto" />
      <br>
      <h2>{{producto.description}}</h2>
      <h3>Marca: {{producto.provider_id}}</h3>
    </div>

    <div class="col-lg-3 cajaTexto">
      <h5>Precio: {{producto.precio}}€</h5>
      <br>
      <select class="btn btn-sm btn-primary" style="margin-bottom: 2em;">
        <option selected>Cantidad</option>
        <option value="{{i}}" *ngFor="let n of numSequence(10); let i = index;">{{i+1}}</option>
      </select>
      <br>
      <button class="btn btn-md btn-success">Añadir</button>
    </div>

    <div class="col-lg-2"></div>

  </div>
</div>
