.espacioTop {
  padding-top: 3em;
}

.cajaTexto {
  padding: 3.4em;
  text-align: center;
}

.imagenProducto {
  display: block;
  margin: auto;
}

.desplegableProductos {
  height: 2em;
  overflow: scroll;
}
