<app-navbar></app-navbar>

<barra-carga *ngIf="loading"></barra-carga>

<br />
<h3 class="text-center">
  Seleccione un tipo de estado para visualizar los pedidos filtrados
</h3>
<br />

<div class="row">
  <div class="col-3">
    <button
      class="btn btn-info btn-md orderButton"
      (click)="showAll()"
    >
      Todos los Pedidos
    </button>
  </div>
  <div class="col-3">
    <button
      class="btn btn-info btn-md orderButton"
      (click)="showPending()"
    >
      Pedidos Pendientes
    </button>
  </div>
  <div class="col-3">
    <button
      class="btn btn-info btn-md orderButton"
      (click)="showInProgress()"
    >
      Pedidos en curso
    </button>
  </div>
  <div class="col-3">
    <button
      class="btn btn-info btn-md orderButton"
      (click)="showDelivered()"
    >
      Pedidos enviados
    </button>
  </div>
</div>

<br />

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" style="width: 100%" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="orderID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Pedido</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
      <td mat-cell *matCellDef="let element">{{ element.user_id }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Fecha del Pedido
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.created_at | date }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell class="inProgress" *matCellDef="let element"[ngClass]="{
        'delivered' : element.status == 'delivered',
        'pending' : element.status == 'pending'
     }">{{ element.status | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
      <td mat-cell *matCellDef="let element">
        {{ element.street }} {{ element.number }}, {{ element.zip_code }}
        {{ element.city }}, {{ element.country }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deliverType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Envío</th>
      <td mat-cell *matCellDef="let element">
        {{ element.shipment_company.name}} - {{element.shipment_company.shipment_type | uppercase}}
      </td>
    </ng-container>

    <ng-container matColumnDef="prepare">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preparar</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-sm btn-success" (click)="onClickHandler(element.id)" *ngIf="showPrepareButton && element.status != 'delivered'" >
          Preparar
        </button>
        <button class="btn btn-sm btn-warning" (click)="onClickHandler(element.id)" *ngIf="!showPrepareButton || element.status === 'delivered'" >
          Ver Detalle
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  >
  </mat-paginator>
</div>
