<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/" class="logo">
    <img src="../../assets/img/default.jpg" alt="logo.jpeg" class="img-fluid" style="width: 5em;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="padding-top: .6em;">
      <a class="nav-link" routerLinkActive="/home" routerLink="/products" [routerLinkActiveOptions]="{exact: true}">Catálogo <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLinkActive="/pickingOrders" routerLink="/pickingOrders">Trabajador</a>
      <a class="nav-link" (click)="logout()" routerLink="">Cerrar Sesión</a>
      <a class="nav-link" routerLinkActive="/cart" routerLink="/cart" style="float: right;"><mat-icon matBadge="{{cartItems}}" matBadgeColor="warn" class="carritoLink" style="float: right;">shopping_cart</mat-icon></a>
    </div>
  </div>
</nav>
