.navbar {
    background-color: black;
}

.navbar h2 {
    color: white;
    text-align: right;
}

.navbar .logo {
    margin-left: .6em;
    margin-right: .6em;
}

.cart:hover {
  background-color: white !important;
  cursor: pointer;
  color: red !important;
}

.carritoLink {
  background-color: white;
  text-decoration: none;
  margin-top: 12%;
  color: black;
}

li {
    margin-left: .6em;
    margin-right: .6em;
    background-color: white;
    min-width: 6em;
    text-align: center;
}

li a {
    color: black !important;
    font-size: 1.2em;
    text-transform: uppercase;
}
