<app-navbar></app-navbar>

<div class="container-fluid">
  <br>
  <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2 class="text-center">Cargar CSV Productos</h2>
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <br>
  <form [formGroup]="fileForm" (ngSubmit)="uploadCSV();">
    <div class="row">
      <div class="col-5"></div>
      <div class="col-2 text-center">
        <input type="file" name="CSVfile" accept=".csv" #fileUpload (change)="selectFile($event)">
      </div>
      <div class="col-5"></div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <button type="submit" class="btn btn-md btn-info">Upload File</button>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</div>
