<app-navbar></app-navbar>

<barra-carga *ngIf="loadingCSV"></barra-carga>

<div class="container-fluid">
  <br>
  <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2 class="text-center">Cargar CSV Productos</h2>
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <br>
  <form (ngSubmit)="uploadCSV();">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <input type="file" name="CSVfile" accept=".csv" #fileUpload (change)="selectFile($event)">
      </div>
      <div class="col-4"></div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-2">
        <button type="submit" class="btn btn-md btn-success" style="width: 100%;" [disabled]=!enabledUpload>Upload File</button>
      </div>
      <div class="col-5"></div>
    </div>
  </form>
</div>
