<barra-carga *ngIf="loading"></barra-carga>

<div id="back" class="container-fluid">
  <div class="vh-100 row justify-content-center align-items-center">
    <div class="col-8 fondo">
      <div class="text-center headpanel">
        <h3>Inicio de Sesión</h3>
      </div>

      <p style="color:red;">{{error ? 'ERROR':''}}</p>

      <form [formGroup]="signupForm" (ngSubmit)="login(signupForm.value)">
        <section>
          <div>
            <label for="email">Email</label>
            <div>
              <input formControlName="email" type="text" class="inputForm">
            </div>
          </div>
          <div>
            <label for="password">Contaseña</label>
            <div>
              <input formControlName="password" type="password" class="inputForm">
            </div>
          </div>
        </section>
        <section>
          <div>
            <a routerLink="/register">Si no tienes una cuenta registrate!</a>
          </div>
        </section>
        <section>
          <div class="row align-items-center justify-content-center">
            <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary botonaccept">Log in</button>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
