<app-navbar></app-navbar>

<barra-carga *ngIf="!cargado"></barra-carga>

<div id="back" class="container-fluid" *ngIf="cargado">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="col-auto fondo">
            <div class="text-center headpanel">
                <h3>Reaprovisionamiento</h3>
            </div>
            <form [formGroup]="reaprovisionamientoForm" (ngSubmit)="updateProductos()">
            <div class="row">
                <div class="col-10">
                    <select formControlName="producto">
                        <option  *ngFor="let prod of products" value="{{prod.reference}}">{{prod.reference}}</option>
                    </select>
                </div>
                <div class="col-2">
                    <p>x20</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary botonaccept" [disabled]="reaprovisionamientoForm.invalid">Agregar</button>
            </div>
            </form>
        </div>
    </div>
</div>
