.fondo{
    background-color: #9C9C9C; 
    border-radius: 15px;
    opacity: 80%;

}
.headpanel{
    color: white;
   }
.botonaccept{
    margin-bottom: 10px; 
    margin-top: 10px; 
    width: 50%;
}