.producto {
    text-align: center;
    min-height: 18em;
    padding: 1em;
    border: 1px solid black;
}

.btnProd {
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
}

.btnSinStock {
  width: 100%;
}
