<div>
  <app-navbar></app-navbar>

  <!--Progress Bar-->
  <barra-carga *ngIf="loading"></barra-carga>

  <div class="text-center" *ngIf="error">
    <h2>Se ha producido un error al cargar los productos desde la base de datos</h2>
  </div>

  <div class="text-center" *ngIf="vacio">
    <h2>No hay productos en la base de datos. Agregue productos y recargue la página.</h2>
  </div>

  <div class="container-fluid">
    <div id="productos">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let prod of products"
          style="margin-top: 1em; margin-bottom: 1em;">
          <div class="card producto">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <img class="card-img-top img-fluid" src="../../../assets/img/{{prod.image}}"
                  onerror="this.src='../../assets/img/default.jpg'" alt="LogoProducto" />
              </div>
              <div class="col-2"></div>
            </div>
            <div class="card-body">
              <p style="font-weight: bold;">{{(prod.description.length>20)? (prod.description |
                slice:0:20)+'...':(prod.description)}}</p>
              <p class="card-text">Marca: {{prod.provider_id}}</p>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <a href="/product/{{prod.id}}" *ngIf="prod.stock + prod.picking > prod.warning_stock_limit; else sinStock" class="btn btn-md btn-primary btnProd">Saber más</a>
                </div>
                <div class="col-2"></div>
              </div>
              <ng-template #sinStock>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-md btn-warning btnSinStock" disabled>Sin Stock</button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
