.inputForm {
    border-radius: 5px;

}
.mailcity{
    width: 50%;
}
.inputpeq{
    width: 70%;
}
#back{
    background-image: url(../../../assets/img/Back1.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.fondo{
    background-color: #9C9C9C; 
    border-radius: 15px;
    opacity: 80%;

}
.headpanel{
 color: white;
}
.botonaccept{
    margin-bottom: 20px; 
    width: 50%;
}