
<div>
    <app-navbar></app-navbar>
</div>
<div id="back" class="container-fluid">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="col-auto fondo">
            <div style="opacity: 100% !important;">
            <div class="text-center headpanel">
                <h3>Registro</h3>
            </div>
            
            <section>
                <div class="row">
                    <div class="col-6">
                        <label for="Nombre">Nombre</label>
                        <div>
                            <input name="NombreInput" type="text" class="inputForm">
                        </div>   
                    </div>
                    <div class="col-6">
                        <label for="Apellidos">Apellidos</label>
                        <div>
                            <input name="ApellidosInput" type="text" class="inputForm">
                        </div>
                    </div> 
                </div>   
            </section>
            <section>
                <label for="Email">Email</label>
                <div>
                    <input name="EmailInput" type="text" class="inputForm mailcity">
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-6">
                        <label for="Passwrod">Contraseña</label>
                        <div>
                            <input name="PasswordInput" type="password" class="inputForm">
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="Telefono">Telefono</label>
                        <div>
                            <input name="TelefonoInput" type="text" class="inputForm">
                        </div>
                    </div>
                </div>  
            </section>
            <section>
                <label for="Direccion">Dirección</label>
                <div>
                    <input name="DireccionInput" type="text" class="inputForm mailcity">
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-3">
                        <label for="CP">Cod. Postal</label>
                        <div>
                            <input name="CPInput" type="text" class="inputForm inputpeq">
                        </div>
                    </div>
                    <div class="col-3">
                        <label for="Ciudad">Ciudad</label>
                        <div>
                            <input name="CiudadInput" type="text" class="inputForm inputpeq">
                        </div>
                    </div>
                    <div class="col-3">
                        <label for="Pais">Pais</label>
                        <div>
                            <input name="PaisInput" type="text" class="inputForm inputpeq">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <input type="checkbox" id="userrequirements">
                    <label for="userrequirements">  He leido y acepto las condiciones de uso</label>
                </div>
                
            </section>
            <section>
                <div class="row align-items-center justify-content-center">
                    <button class="btn btn-primary botonaccept">Registrarse</button>
                </div>
            </section>
            </div>
        </div>
    </div>
</div>